<head>
    <link rel="stylesheet" href="styles1.css">
</head>
<div class="container_top1">
   <h1> Kvintus Kollegiet
   <p style="font-size: 27px; color: teal; text-align: center; ">Your Bookings</p></div>
 <div class="container1">
     
    <div class="container_bookings1">
       <table>
                       <tr>
                               <th>Room number</th><th>Date & Time</th>
                               <th>Machines</th>
                               <th>SMS enabled?</th>
                       </tr>
                       <tr>
                                 <td>Simon Andersen</td>
                                 <td>12:00</td>
                                 <td>Machines</td>
                                 <td>Yes</td>
                       </tr>
      </table>
   <a href="/home" class="btn btn-primary1 btn-sm">Back</a>
         </div></div>