.account-overview-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.account-overview-account-overview {
  width: 100%;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.account-overview-rectangle5 {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 86px;
  position: absolute;
}
.account-overview-text {
  top: 48px;
  left: 21px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans Gujarati;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.account-overview-rectangle6 {
  top: 46px;
  left: 344px;
  width: 38px;
  height: 33px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.account-overview-rectangle3 {
  top: 0px;
  left: 0px;
  width: 38px;
  height: 33px;
  position: absolute;
}
.account-overview-frame1 {
  top: 0px;
  left: 0px;
  width: 38px;
  height: 33px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.account-overview-line34 {
  top: 55px;
  left: 348px;
  width: 30px;
  height: 1px;
  position: absolute;
}
.account-overview-line35 {
  top: 63px;
  left: 348px;
  width: 30px;
  height: 1px;
  position: absolute;
}
.account-overview-line36 {
  top: 71px;
  left: 348px;
  width: 30px;
  height: 1px;
  position: absolute;
}
.account-overview-rectangle15 {
  top: 99px;
  left: 26px;
  width: 339px;
  height: 53px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.account-overview-rectangle16 {
  top: 168px;
  left: 26px;
  width: 339px;
  height: 472px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.account-overview-text02 {
  top: 110px;
  left: 150px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans Gujarati;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.account-overview-rectangle21 {
  top: 602px;
  left: 36px;
  width: 93px;
  height: 29px;
  position: absolute;
  border-radius: 8px;
}
.account-overview-rectangle22 {
  top: 176px;
  left: 36px;
  width: 316px;
  height: 46px;
  position: absolute;
}
.account-overview-rectangle23 {
  top: 225px;
  left: 36px;
  width: 316px;
  height: 46px;
  position: absolute;
}
.account-overview-rectangle24 {
  top: 346px;
  left: 36px;
  width: 316px;
  height: 46px;
  position: absolute;
}
.account-overview-text04 {
  top: 186px;
  left: 42px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans Gujarati;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.account-overview-text06 {
  top: 235px;
  left: 42px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans Gujarati;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.account-overview-text08 {
  top: 354px;
  left: 43px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans Gujarati;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.account-overview-rectangle25 {
  top: 395px;
  left: 36px;
  width: 316px;
  height: 46px;
  position: absolute;
}
.account-overview-text10 {
  top: 403px;
  left: 43px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans Gujarati;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.account-overview-text12 {
  top: 602px;
  left: 43px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans Gujarati;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
