.account-login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.account-login-account-login {
  width: 100%;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.account-login-rectangle5 {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 86px;
  position: absolute;
}
.account-login-text {
  top: 48px;
  left: 21px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans Gujarati;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.account-login-rectangle6 {
  top: 46px;
  left: 344px;
  width: 38px;
  height: 33px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.account-login-rectangle3 {
  top: 0px;
  left: 0px;
  width: 38px;
  height: 33px;
  position: absolute;
}
.account-login-frame1 {
  top: 0px;
  left: 0px;
  width: 38px;
  height: 33px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.account-login-line34 {
  top: 55px;
  left: 348px;
  width: 30px;
  height: 1px;
  position: absolute;
}
.account-login-line35 {
  top: 63px;
  left: 348px;
  width: 30px;
  height: 1px;
  position: absolute;
}
.account-login-line36 {
  top: 71px;
  left: 348px;
  width: 30px;
  height: 1px;
  position: absolute;
}
.account-login-rectangle15 {
  top: 99px;
  left: 26px;
  width: 339px;
  height: 53px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.account-login-rectangle16 {
  top: 170px;
  left: 26px;
  width: 339px;
  height: 291px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.account-login-text02 {
  top: 110px;
  left: 164px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans Gujarati;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.account-login-text04 {
  top: 187px;
  left: 50px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans Gujarati;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.account-login-text06 {
  top: 266px;
  left: 50px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans Gujarati;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.account-login-rectangle23 {
  top: 336px;
  left: 235px;
  width: 105px;
  height: 21px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.account-login-text08 {
  top: 338px;
  left: 238px;
  color: rgba(91, 107, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans Gujarati;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.account-login-rectangle17 {
  top: 218px;
  left: 50px;
  width: 290px;
  height: 43px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.account-login-rectangle18 {
  top: 292px;
  left: 50px;
  width: 290px;
  height: 43px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.account-login-rectangle19 {
  top: 420px;
  left: 54px;
  width: 88px;
  height: 33px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 9px;
}
.account-login-text10 {
  top: 423px;
  left: 67px;
  color: rgba(255, 255, 255, 1);
  width: 63px;
  height: auto;
  position: absolute;
  font-size: 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans Gujarati;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.account-login-rectangle20 {
  top: 390px;
  left: 247px;
  width: 110px;
  height: 64px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 9px;
}
.account-login-text12 {
  top: 393px;
  left: 253px;
  color: rgba(255, 255, 255, 1);
  width: 101px;
  height: auto;
  position: absolute;
  font-size: 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans Gujarati;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
