.overlay-menu-booking-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.overlay-menu-booking-overlay-menu-booking {
  width: 100%;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.overlay-menu-booking-rectangle5 {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 86px;
  position: absolute;
}
.overlay-menu-booking-text {
  top: 48px;
  left: 21px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans Gujarati;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.overlay-menu-booking-rectangle6 {
  top: 46px;
  left: 344px;
  width: 38px;
  height: 33px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.overlay-menu-booking-rectangle3 {
  top: 0px;
  left: 0px;
  width: 38px;
  height: 33px;
  position: absolute;
}
.overlay-menu-booking-frame1 {
  top: 0px;
  left: 0px;
  width: 38px;
  height: 33px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.overlay-menu-booking-line34 {
  top: 55px;
  left: 348px;
  width: 30px;
  height: 1px;
  position: absolute;
}
.overlay-menu-booking-line35 {
  top: 63px;
  left: 348px;
  width: 30px;
  height: 1px;
  position: absolute;
}
.overlay-menu-booking-line36 {
  top: 71px;
  left: 348px;
  width: 30px;
  height: 1px;
  position: absolute;
}
.overlay-menu-booking-rectangle12 {
  top: 86px;
  left: 0px;
  width: 390px;
  height: 50px;
  position: absolute;
}
.overlay-menu-booking-line37 {
  top: 136px;
  left: 0px;
  width: 390px;
  height: 1px;
  position: absolute;
}
.overlay-menu-booking-text2 {
  top: 96px;
  left: 2px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans Gujarati;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.overlay-menu-booking-rectangle13 {
  top: 136px;
  left: 0px;
  width: 390px;
  height: 50px;
  position: absolute;
}
.overlay-menu-booking-line38 {
  top: 186px;
  left: 0px;
  width: 390px;
  height: 1px;
  position: absolute;
}
.overlay-menu-booking-text4 {
  top: 146px;
  left: 2px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans Gujarati;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.overlay-menu-booking-rectangle14 {
  top: 86px;
  left: 0px;
  width: 390px;
  height: 50px;
  position: absolute;
}
.overlay-menu-booking-line39 {
  top: 136px;
  left: 0px;
  width: 390px;
  height: 1px;
  position: absolute;
}
.overlay-menu-booking-text6 {
  top: 96px;
  left: 2px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans Gujarati;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
