<head>
    <link rel="stylesheet" type="text/css" href="styles1.css">
</head>
<div class="container_top1">
	<h1>Kvintus Kollegiet
    <p>Calender</p>
    </div>
<div class="booking_container1">
    <table class="calender_table1">
        <h1>This Week</h1>
        <table class="calender_table1">
            <tr>
                <th>Time</th>
                <th>7-9</th>
                <th>9-11</th>
                <th>11-13</th>
                <th>13-15</th>
                <th>15-17</th>
                <th>17-19</th>
                <th>19-21</th>
                <th>21-23</th>
            </tr>
            <tr>
                <th>MON</th>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
            </tr>
            <tr>
                <th>TUE</th>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
            </tr>
            <tr>
                <th>WED</th>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
            </tr>
            <tr>
                <th>THUR</th>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
            </tr>
            <tr>
                <th>FRI</th>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
            </tr>
            <tr>
                <th>SAT</th>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
            </tr>
            <tr>
                <th>SUN</th>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
            </tr>
        </table>
        <h1>Next Week</h1>

        <table class="calender_table">
            <tr>
                <th>Time</th>
                <th>7-9</th>
                <th>9-11</th>
                <th>11-13</th>
                <th>13-15</th>
                <th>15-17</th>
                <th>17-19</th>
                <th>19-21</th>
                <th>21-23</th>
            </tr>
            <tr>
                <th>MON</th>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
            </tr>
            <tr>
                <th>TUE</th>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
            </tr>
            <tr>
                <th>WED</th>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
            </tr>
            <tr>
                <th>THUR</th>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
            </tr>
            <tr>
                <th>FRI</th>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
            </tr>
            <tr>
                <th>SAT</th>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
            </tr>
            <tr>
                <th>SUN</th>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
                <td class="booking_cell" onclick="window.location.href='select_booking/7-9'">&nbsp;</td>
            </tr>
        </table>
</div>