{% extends "base.html" %}

{% block content %}
<div class="container_login_top">
    <p1 style="font-size: 40px; color: whitesmoke; text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); text-align: center; ">Register</p1>
    </div>
    <br>
  <div class="container">
      <form action="/register" method="post">

          <div class="mb-3">
              <label for="Username" class="form-label">Room number</label>
              <br>
              <p style="font-size: 10px; font-style: italic;">*Numbers only</p>
              <input type="text" class="form-control" id="Username" name="username">
          </div>
          <div class="mb-3">
              <label for="Password" class="form-label">Password</label>
              <br>
              <p style="font-size: 10px; font-style: italic;">*We recommend having at least one special symbol and a mix of upper and lowercase letters</p>
              <input type="password" class="form-control" id="Password" name="password">
          </div>
          <div class="mb-3">
              <label for="Password" class="form-label">Repeat password</label>
              <br>
              <input type="password" class="form-control" id="Repeat_Password" name="repeat_password">
          </div>
          <div class="mb-3">
              <label for="Phone_number" class="form-label">Phone number</label>
              <p style="font-size: 10px; font-style: italic;">*Please include country numbers with a +</p>
              <input type="text" class="form-control" id="Phone_number" name="phone_number">
          </div>
        <br>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <br>
    <a href="/login" class="btn btn-primary btn-sm">Back</a>
  </div>
{% endblock %}