{% extends "base.html" %}



{% block content %}

<div class="grid">

    <div class="grid-item"><a href="/home">back</a></div>
    <div class="grid-item">Man</div>
    <div class="grid-item">Tir</div>
    <div class="grid-item">Ons</div>
    <div class="grid-item">Tors</div>
    <div class="grid-item">Fre</div>
    <div class="grid-item">Lør</div>
    <div class="grid-item">Søn</div>

    <div class="grid-item">7-9</div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>

    <div class="grid-item">9-11</div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>

    <div class="grid-item">11-13</div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    
    <div class="grid-item">13-15</div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>

    <div class="grid-item">15-17</div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>

    <div class="grid-item">17-19</div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>

    <div class="grid-item">19-21</div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>

    <div class="grid-item">21-23</div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
    <div class="grid-item"><a href="#"></a></div>
</div>


{% endblock %}