<head>
    <link rel="stylesheet" type="text/css" href="styles1.css">
  </head>
<div class="container_top1">
	<h1>Kvintus Kollegiet
    <p>Booking Confirmation</p>
    </div>
<div class="container1">
  <div class="container_confirmation1" style="text-align:center;">
    <table>
      <tr><th>Room number:</th></tr>
      <tr><td>19</td></tr>
      <tr><th>Timeslot:</th></tr>
      <tr><td>11:00-13:00</td></tr>
      <tr><th>Machines:</th></tr>
      <tr><td>1 | 2 | 3 | 4</td></tr>
    </table>
  </div></div>