{% extends "base.html" %}

{% block content %}

    <h1>pick a machine</h1>

    {% if id %}

        <p> machine status: {{ status }} </p>
        
        {% if status == 'machine 1 and machine 2 are available' %}
            <ul>
                <li><a href="">machine 1 & machine 2</a></li>
            </ul>
        
        {% elif status == 'machine 3 and machine 4 are available' %}     

            <ul>
                <li><a href="">machine 3 &  machine 4</a></li>
            </ul>
    
            
        {% elif status == 'all available' %}    
            <ul>
                <li><a href="">machine 1 & machine 2</a></li>
                <li><a href="">machine 3 & machine 4</a></li>
            </ul>
        
        {% elif status == 'all taken' %}
             
        {% endif %}

    {% endif %}

{% endblock %}