{% extends "base.html" %}

{% block content %}

    

<div class="container_top1">
	<h1>Kvintus Kollegiet
    <p>Booking Confirmation</p>
    </div>
    <br>

<div class="confirm_page">
    <table>
        <tr>
            <th>ID: </th>
            <th>Day: </th>
            <th>Timeslot: </th>
            <th>Room Number: </th>
            <th>Machines: </th>
        </tr>
        <tr>
            <th>{{time_data[0]}}</th>
            <th>{{time_data[1]}}</th>
            <th>{{time_data[2]}}</th>
            <th>{{username}}</th>
            <th>{{machine_choice}}</th>

        </tr>
        

    </table>
    <p> do you want a sms reminder for your booking?</p>
    <form method="post">
        <input type="checkbox"name="sms_choice" value="sms_choice_box">
    </form>
    <br>
    <form method="post">
        <button class="submit_button" name="final_button" value="send" style="width: 80px; height: 20px;">Confirm</button>
    <form>
</div>

{% endblock %}