{% extends "base.html" %}

{% block content %}


<style>
  body {
      background-image: url('https://images.pexels.com/photos/1147124/pexels-photo-1147124.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1.jpg');
      color: black;
  }

  .container {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: white;
      opacity: 0.9;
  }

  .form-control {
      color: black;
      background-color: white;
      border: 1px solid black;
      padding: 5px;
      width: 100%;
  }

  .form-label {
      color: black;
  }

  .btn-primary {
      color: white;
      background-color: black;
      border-color: black;
  }

  a.btn-primary {
      color: white;
      background-color: black;
      border-color: black;
      text-decoration: none;
      display: inline-block;
      padding: 6px 12px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      border: 1px solid transparent;
      border-radius: 4px;
      width: 120px;
  }
</style>

<div class="container">
  <form action="/login" method="post">
      <div class="mb-3">
          <label for="Username" class="form-label">Room number</label>
          <br>
          <input type="text" class="form-control" id="Username" name="username">
      </div>
      <div class="mb-3">
          <label for="Password" class="form-label">Password</label>
          <br>
          <input type="password" class="form-control" id="Password" name="password">
      </div>
      <button type="submit" class="btn-primary">Login</button>
  </form>
  <br/>
  <p>Don't have an account? <a href="/register" class="btn-primary">Create account</a></p>
</div>

{% endblock %}