{% extends "base.html" %}

{% block content %}

<style>
  body {
      background-image: url('https://images.pexels.com/photos/4700417/pexels-photo-4700417.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1.jpg');
      color: black;
  }

  h1 {
    max-width: 362px;
      text-align: center;
    background-color: black;
    margin: 15;
    color: white;
    padding: 20px;
      font-size: 40px;
      padding: 25px;
      margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  }
  
  .container_login {
      max-width: 400px;
      margin: 0 auto;
      padding: 5px;
      background-color: white;
      opacity: 0.9;
  }

  .form-control {
      color: black;
      font-size: 18px;
      background-color: white;
      border: 1.6px solid black;
      padding: 7px;
      width: 100%;
  }

  .form-label {
      color: black;
      font-size: 17px;
  }

  .btn-primary {
      color: white;
      background-color: teal;
      border-color: black;
      padding: 4px 10px;
      margin-bottom: 0;
      font-size: 23px;
      font-weight: 400;
      font-family: Times New Roman;
      line-height: 1.42857143;
      text-align: center;
      border: 1px solid transparent;
      border-radius: 8px;
  }
</style>

  <div class="container_top">
    <h1> Kvintus Kollegiet
      <p1 style="font-size: 30px; color: teal; text-align: center; ">Login</p1>
    </div>
    <br>
  <div class="container_login">
    <form action="/login" method="post">
    <div class="mb-3">
      <label for="Username" class="form-label">Room number</label>
      <br>
      <input type="text" class="form-control" id="Username" name="username">
    </div>
    <div class="mb-3">
      <label for="Password" class="form-label">Password</label>
      <br>
      <input type="password" class="form-control" id="Password" name="password">
    </div>
    <br>
    <button type="submit" class="btn-primary">Login</button>
  </form>
      <br/>
      Don't have an account ? <a href="/register" class="btn-sm">Create account</a>
  </div>
{% endblock %}