{% extends "base.html" %}

{% block content %}
<div class="container_login_top">
    <p1 style="font-size: 40px; color: whitesmoke; text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); text-align: center; ">Reset Password</p1>
    </div>
    <br>
  <div class="container">
      <form action="/reset_password" method="post">

        <div class="mb-3">
            <label for="Phone_number" class="form-label">Room Number</label>
            
            <input type="text" class="form-control" id="username" name="username">
        </div>
          <div class="mb-3">
              <label for="Password" class="form-label">Old Password</label>
              <br>
              
              <input type="password" class="form-control" id="old_password" name="old_password">
          </div>
          <div class="mb-3">
              <label for="Password" class="form-label">New password</label>
              <p style="font-size: 10px; font-style: italic;">*We recommend having at least one special symbol and a mix of upper and lowercase letters</p>
              
              <input type="password" class="form-control" id="new_password" name="new_password">
          </div>
          <div class="mb-3">
              <label for="Phone_number" class="form-label">SMS-Code</label>
              
              <input type="text" class="form-control" id="Phone_number" name="phone_number">
          </div>
        <br>
        <button type="submit" class="btn-reset">Reset Password</button>
    </form>
    <br>
    <a href="/login" class="btn btn-primary btn-sm">Back</a>
  </div>
{% endblock %}