{% extends "base.html" %}

{% block content %}
<div class="container_top1">
  <h1> Kvintus Kollegiet
  <p style="font-size: 27px; color: teal; text-align: center; ">Reset Password</p></div>
<br>
  <div class="container">
      <form action="/reset_password" method="post">

        <div class="mb-3">
            <label for="Phone_number" class="form-label">Room Number</label>
            
            <input type="text" class="form-control" id="username" name="username">
        </div>
          <div class="mb-3">
              <label for="Password" class="form-label">Old Password</label>
              <br>
              
              <input type="password" class="form-control" id="old_password" name="old_password">
          </div>
          <br>
          <div class="mb-3">
              <label for="Password" class="form-label">New password</label>
             
              
              <input type="password" class="form-control" id="new_password" name="new_password">
          </div>
          <div class="mb-3">
              <label for="repeat" class="form-label">Repeat Password</label>
              
              <input type="text" class="form-control" id="repeat_password" name="repeat_password">
          </div>
        <br>
        <button type="submit" class="btn-reset">Reset Password</button>
    </form>
    <br>
    <a href="/login" class="btn btn-primary btn-sm">Back</a>
  </div>
{% endblock %}