{% extends "base.html" %}

{% block content %}
<div class="machine_selector">
    <h1>pick a machine</h1>
    <p>ID: {{id}}</p>
    {% if id %}

        <p>username is {{ username }}  machine table id is {{ id }} and machine status: {{ status }} </p>
        
        <form method="post">

        {% if status == 'machine 1 and machine 2 are available' %}
        <form method="post">
            <button type="submit" class="confirm_button" name="confirm_button" value="set1">
                <img src="/static/IMG_0618.PNG" style="width: 200px; height: 300px; color: greenyellow;">
                
                <p style="text-align: center; font-size: medium;">Machine 1 & 2</p>
                <input type="hidden" name="username" value="{{ username }}">
                <input type="hidden" name="machine_choice" value="1_and_2">
            </button>
        </form>
            <form method="post">
                <button type="submit" class="confirm_button" name="confirm_button" value="set2" disabled style="opacity: 50%; color: red;">
                    <img src="/static/IMG_0618.PNG" style="width: 200px; height: 300px;">
                    
                    <p style="text-align: center; font-size: medium;">Machine 3 & 4</p>
                </button>
            </form>
        
        {% elif status == 'machine 3 and machine 4 are available' %}     

        <form method="post">
            <button type="submit" class="confirm_button" name="confirm_button" value="set1" disabled style="opacity: 50%; color: red;">
                <img src="/static/IMG_0618.PNG" style="width: 200px; height: 300px;">
                
                <p style="text-align: center; font-size: medium;">Machine 1 & 2</p>
            </button>
            <br>
        </form>
            <form method="post">
                <button type="submit" class="confirm_button" name="confirm_button" value="set2">
                    <img src="/static/IMG_0618.PNG" style="width: 200px; height: 300px;">
                    
                    <p style="text-align: center; font-size: medium;">Machine 3 & 4</p>
                </button>
                <input type="hidden" name="username" value="{{ username }}">
                <input type="hidden" name="machine_choice" value="3_and_4">
            </form>
    
        
        {% elif status == 'all available' %}   

        <form method="post">
            <button type="submit" class="confirm_button" name="confirm_button" value="set1">
                <img src="/static/IMG_0618.PNG" style="width: 200px; height: 300px;">
                
                <p style="text-align: center; font-size: medium;">Machine 1 & 2</p>
            </button>
            <input type="hidden" name="username" value="{{ username }}">
            <input type="hidden" name="machine_choice" value="1_and_2">
        </form>
        <br>
        <form method="post">
            <button type="submit" class="confirm_button" name="confirm_button" value="set2">
                <img src="/static/IMG_0618.PNG" style="width: 200px; height: 300px;">
                
                <p style="text-align: center; font-size: medium;">Machine 3 & 4</p>
            </button>
            <input type="hidden" name="username" value="{{ username }}">
                <input type="hidden" name="machine_choice" value="3_and_4">
        </form>
        
        
        {% elif status == 'all taken' %}

        <p style="font-size: 40;"> It looks like somebody took the last machines from this timeslot, while you were weren't looking. We apologize.</p>
             
        {% endif %}

    

        </form>    
    {% endif %}

<br>
<form action="/booking">
    <button type="submit" class="back_button" name="back_button">Back</button>
</form>
</div>
{% endblock %}