body {
    background-image: url('https://images.pexels.com/photos/4700417/pexels-photo-4700417.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1.jpg');
    color: black;
}

/* SORT KASSE */
.container_top1 {
    max-width: 362px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 40px;
    padding: 25px;
    height: 120px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}

/* HVID H1 I SORT KASSE */
.container_top1 h1 {
    font-size: 40px;
    text-align: center;
    color: white;
    background-color: black;
    margin: 0 auto;
    padding: 5px;
    max-width: 362px;
}

/* GRØNT PARAGRAF I SORT BOKS */
.container_top1 p {
    font-size: 27px;
    color: teal;
    text-align: center;
}

/*--- HVID BOKS ---*/
.container1 {
    max-width: 400px;
    min-height: 170px;
    height: 22%;
    margin: 0 auto;
    padding: 5px;
    background-color: white;
    opacity: 0.9;
}

/*--- BOOKINGS ---*/

.container_bookings1 {
    border-color: black;
    padding: 4px 4px;
    max-height: 20px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 8px;
}

/* TABLE */
.container_bookings1 table {
    vertical-align: middle;
    background-color: teal;
    border-color: black;
    color: white;
    padding: 4px 4px 4px 4px;
    width: 390px;
    /* Fix så den kan ændre str man stadig er centreret */
    max-height: 200px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 8px;
    margin-bottom: 80px;
}

.container_bookings1 table th {
    background-color: teal;
    color: white;
    max-height: 20px;
}

.container_bookings1 table td {
    background-color: white;
    color: black;
    max-height: 20px;
}

/*-- Confirmation ---*/
.container_confirmation1 {
    border-color: black;
    padding: 4px 4px 4px 4px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 8px;
}

/* TABLE */
.container_confirmation1 table {
    vertical-align: middle;
    background-color: teal;
    border-color: black;
    color: white;
    height: 94%;
    width: 390px;
    /* Fix så den kan ændre str man stadig er centreret */
    text-align: center;
    border: 1px solid transparent;
    border-radius: 8px;
}

.container_confirmation1 table th {
    background-color: teal;
    color: white;
    max-height: 20px;
}

.container_confirmation1 table td {
    background-color: white;
    color: black;
    max-height: 20px;
}

/* BACK*/
a.btn-primary1 {
    color: white;
    background-color: teal;
    border-color: black;
    text-decoration: none;
    padding: 4px 6px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    width: 90px;
    height: 40px;
    font-family: Times New Roman;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 8px;
}

.confirm_page1 {
    max-width: 400px;
    margin: 0 auto;
    padding: 5px;
    background-color: white;
    opacity: 0.9;
}

.confirm_page1 {
    color: white;
    background-color: white;
    border-color: black;
    text-decoration: none;
    display: inline-block;
    padding: 4px 100px;
    margin-bottom: 0;
    font-size: 23px;
    font-weight: 400;
    font-family: Times New Roman;
    line-height: 1.42857143;
    border: 1px solid transparent;
}


.calender_table1 {
    width: 100%;
    border-collapse: collapse;
}

.calender_table1 th,
.calender_table1 td {
    border: 1px solid #000;
    /* black border */
    padding: 10px;
    text-align: center;
    width: 100px;
    height: 40px;
}

.booking_cell1 {
    cursor: pointer;
    transition-duration: 0.4s;
}

.booking_cell1:hover {
    background-color: #90EE90;
    color: white;
}

.booking_container1 {
    max-width: 90%;
    min-height: 70vh;
    margin: 0 auto 20px auto;
    padding: 5px;
    background-color: white;
    opacity: 0.9;
}
/*Machines*/
.machine_selector1 {
    max-width: 50%;
    min-height: 170px;
    margin: 0 auto;
    padding: 5px;
    background-color: white;
    opacity: 0.9;
}
.form-container1 {
    display: flex;
    justify-content: space-around;
}

.form-content1 {
    margin: 0 10px;
}

.button-image1 {
    width: 200px; 
    height: 300px;
}

.button-text1 {
    text-align: center; 
    font-size: medium;
}

.confirm_button1[disabled] {
    opacity: 50%;
    color: red;
}
